@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 0 100 1;
        --foreground: 0 13 1;
    }

    .dark {
        --background: 0 13 1;
        --foreground: 0 100 1;
    }

    section {
        @apply mb-20;
    }
}
